
/* Your CSS Code here. */
.question-space {
    max-width: 600px;
    margin: 10px;
}

blockquote {
    padding: 15px;
    border-left: 8px solid green;
    background-color: #f8fffe;
    font-weight: bold;
}
